<div class="w-1/2">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="w-full  flex flex-col items-center gap-4">
      <h2 class="text-2xl font-bold">Log in</h2>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <div class="flex items-start">
            <%= f.check_box :remember_me, class: "w-4 h-4 border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300" %>
            <%= f.label :remember_me, class: "ml-3 text-sm font-medium text-gray-500" %>
          </div>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: "w-full px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300" %>
      </div>
    </div>
  <% end %>
</div>
