<tr class="bg-white dark:bg-gray-800">
    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
         <%= link_to software.title, software, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
    </th>
    <td class="px-6 py-4">
      <p class="text-sm text-gray-600 dark:text-gray-400 mb-3 max-w-prose">
        <%= software.description %>
      </p>
    </td>
    <td class="px-6 py-4">
        <strong>
          <%= software.version %>
        </strong>
    </td>
    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
         <%= link_to "Repository", software.repository, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800", :target => "_blank" %>
    </th>
</tr>
