<nav class="bg-gradient-to-r from-blue-50 to-blue-700 border-b border-gray-200 px-4 py-2.5 dark:bg-gray-800 dark:border-gray-700 fixed left-0 right-0 top-0 z-50">
  <div class="flex flex-wrap justify-between items-center bg-transparent">
    <div class="w-full flex flex-row justify-between items-center">
      <a href="/" class="flex items-center justify-between mr-4">
        <span class="self-center text-2xl font-semibold whitespace-nowrap text-dark dark:text-white">Versioning</span>
      </a>
      <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" %>
    </div>
  </div>
</nav>

