<!DOCTYPE html>
<html>
  <head>
    <title>Versioning</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="">
    <div class="antialiased bg-gray-50 dark:bg-gray-900">
      <%= render "layouts/navbar" %>
      <%= render "layouts/sidebar" %>
      <main class="p-4 md:ml-64 h-screen pt-20 flex flex-col items-center justify-center gap-6">
        <%= render "layouts/flash_messages" %>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
